ExchangeRate/ExchangeRateApp/XMLSchema.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:element name="ValCurs"><xs:complexType><xs:sequence><xs:element maxOccurs="unbounded" name="Valute"><xs:complexType><xs:sequence><xs:element name="NumCode" type="xs:unsignedShort" /><xs:element name="CharCode" type="xs:string" /><xs:element name="Nominal" type="xs:unsignedShort" /><xs:element name="Name" type="xs:string" /><xs:element name="Value" type="xs:string" /></xs:sequence><xs:attribute name="ID" type="xs:string" use="required" /></xs:complexType></xs:element></xs:sequence><xs:attribute name="Date" type="xs:string" use="required" /><xs:attribute name="name" type="xs:string" use="required" /></xs:complexType></xs:element></xs:schema>